@charset "UTF-8";
/* CSS Document */

/* Global Variables */

body {
  background-color: #CAC1A8;
  font-family: Trebuchet MS’, Helvetica, sans-serif;
}
hr {
  background-color: #727272;
  height: 1px;
  margin-top: 0;
}
#header {

  display: block;
  clear: both;
  width: 100%;
  height: 110px;
  max-height: 200px;
  margin: 0 0 0 0;
  background-color: #CAC1A8;
}
#header h1 {
  color: #4A2C15;
  font-size: 300%;
  text-align: center;
  margin: 0 0 0 0;
}
#header h2 {
  color: #4A2C15;
  font-size: 150%;
  text-align: center;
  margin: 0 0 0 0;

}
#topWindow {
  display: block;
  clear: both;
  width: 100%;
  height: 700px;
  max-height: 700px;
  margin: 2% 0 0 0;
}
.matrix {
  margin: 0 10px 15px 2.5%;
  float: left;
  width: 60%;
}
.xHead, .yHead {
	background-color: #4A2C15;
	height: 50px;
  width: 50px;
  border-radius: 5px;
}
.xHead h2, .yHead h2 {
	vertical-align: middle;
	color: #DDC185;
	padding: 0px;
	margin: 0px;
}
#blankxHead {
	background-color: #4A2C15;
	height: 50px;
	width: 50px;
  border-radius: 5px;
}
.matrix .mCell {
	background-color: #8F7F64;
	height: 60px;
  width: 70px;
  text-align: center;
  vertical-align: middle;
}
#treasure, #robber1, #robber2, #museum, #treasurehunter {
  max-height: 48px;
  max-width: 48px;
}
.topMessageWindow {
  position: relative;
  float: right;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15)
    ),
    url("treasurebackground.png");
  width: 33%;
  height: 100%;
  margin: 0 2.5% 15px 0;
}
.topMessageWindow .acomplishments {
  width: 100%;
  height: 30%;
}
.topMessageWindow .acomplishments h2{
  color: #3D230D;
  margin: 0 0 0 15px;
  padding: 0 0 0 0;
  text-align: left;
}
#block {
  width: 200px;
  height: 176px;
  margin: 10px 20px 10px 20px;
  vertical-align: middle;
  text-align: center;
}
#block h2 {
  padding-top: 25px;
  text-align: center;
}
.topMessageWindow h2 {
  text-align: center;
  color: #DDC185;
}
.topMessageWindow h3 {
  text-align: left;
  color: #3D230D;
  padding: 1px 1px 1px 2.5%;
}
.headerBlock {
  color: #DDC185;
  background-color: #4A2C15;
  margin: 0 0 0 0;
  padding: 5px 0 5px 0;
}
#bottomWindow {
  display: block;
  clear: both;
  width: 100%;
  height: 310px;
  margin: 0 0 2% 0;
}
.navOptionsWindow {
  float: left;
  width: 15%;
  height: 100%;
  border-radius: 5px;
  margin: 5px 0 0 2.5%;
  text-align: center;
}
.navOptionsWindow h3 {
  text-align: center;
  margin: 2px 0 2px 0;
  color: #4A2C15;
  font-size: 125%;
}
.navOptionsMenu {
  vertical-align: middle;
  margin: 15px auto 5px auto;
}
.navOptionsMenu .navButton, .navOptionsMenu .navButton button {
  width: 75px;
  height: 75px;
  margin: 0 0 0 0;
  background-color: #4A2C15;
  color: #DDC185;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 100%;
}
.navOptionsMenu .cellBlank {
  width: 75px;
  height: 75px;
  margin: 0 0 0 0;
  background-color: transparent;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
}
.navOptionsMenu #compass {
  width: 75px;
  height: 75px;
  margin: 0 0 0 0;
  text-align: center;
  vertical-align: middle;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url("compas.png");
}
#navOptionsSpan {
  position: absolute;
  bottom: 15px;
  right: 15px;
  margin: 0 10px 10px 0;
}
.gameButton, .gameButton button {
  width: 200px;
  height: 50px;
  background-color: #4A2C15;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
}
.gameButton h2 {
  color: #DDC185;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  margin: 0 0 0 0;
}
.navOptionsMenu .cell h2 {
  text-align: center;
}
.navOptionsMenu .cell .navImage {
  max-height: 48px;
  max-width: 48px;
}
.bottomMessageWindow {
  float: right;
  width: 77%;
  height: 100%;
  margin: 5px 2.5% 0 0;
  background-color: #4A2C15;
  border-radius: 5px;
}
.bottomMessageWindow h3 {
  text-align: center;
  color: #DDC185;
  font-size: 125%;
  margin: 2px 0 2px 0;
}
.bottomMessageWindow h3 {
  text-align: left;
  color: #DDC185;
  padding: 1px 1px 1px 2.5%;
}